.banner {
  background: url("https://bizweb.dktcdn.net/100/446/202/themes/848642/assets/slider_3.jpg?1648632451195");
  background-size: cover;
  background-position: center;
  .banner-content {
    min-height: 360px;
  }
}

.category-item {
  width: 100%;
  color: black;
  text-decoration: none;
}
.category-item:hover {
  color: #ffcc00;
}

.filter-right {
  margin-top: 24px;
  margin-bottom: 12px;
  padding-bottom: 12px;
  display: flex;
  gap: 16px;
  border-bottom: 1px solid #ddd;
  .radio-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    input[type="radio"] {
      margin: 0;
      accent-color: #ffcc00;
    }
  }
}
