.cart{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    background-color: white;
    p: 4;
    padding: 2%;
}

.cartProducts{
    margin-bottom: 2em;
}
