.header {
  top: 0;
  width: 100%;
  color: white;
  display: flex;
  background-color: white;
  /*position: sticky;*/
  /*justify-content: space-between;*/
  /*align-items: center;*/
  /*z-index: 10;*/
}

.cart-button {
  float: right;
}

.route-list {
  padding: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-item {
  color: black;
  text-decoration: none;
}


