.header{

    top: 0;
    width: 100%;
    color: white;
    display: flex;
    background-color: white;
    /*position: sticky;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    /*z-index: 10;*/
}

.cartButton{
    float: right;
}

.routeList{
    padding: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
