.cart-item-img {
  width: 50%;
}

.cart-item-action {
  display: flex;
  align-items: center;
  justify-content: center;
  .action-button {
    cursor: pointer;
    width: 24px;
    height: 24px;
    border: 1px solid #ddd;
    text-align: center;
    .action-icon {
      width: 12px;
    }
  }
  .amount {
    width: 24px;
    height: 24px;
    border: 1px solid #ddd;
    text-align: center;
  }
}
