.breadcrums {
  margin: 8px 0 !important;
  a {
    text-decoration: none;
  }
  .breadcrumbs-title {
    color: #000;
    margin: 0;
    text-decoration: none;
  }
  .breadcrumbs-title:hover {
    color: #ffd525;
  }
}

.detail-form {
  margin-top: 5em;
  .avatar-image {
    display: flex;
    justify-content: center;
    .detail-form-image {
      max-width: 480px;
      object-fit: contain;
    }
  }
  .carousel-item {
    cursor: pointer;
    max-width: 100px;
    max-height: 100px;
    margin: 5px;
    padding: 5px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  .carousel-item:hover {
    border: 1px solid #ffd525;
  }
  .selected {
    border: 1px solid #1c1c1c;
  }
  .info-item {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    .size-item {
      cursor: pointer;
      position: relative;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #f5f5f5;
      img {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
    .active {
      border: 1px solid #000;
    }
    .quantity-input {
      display: flex;
      align-items: center;
      .quantity-button {
        cursor: pointer;
        width: 24px;
        height: 24px;
        border: 1px solid #ddd;
        text-align: center;
        .quantity-icon {
          width: 12px;
        }
      }
      .quantity-value {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 24px;
        border: 1px solid #ddd;
      }
    }
  }
  .btn-order {
    cursor: pointer;
    min-width: 350px;
    background-color: #2c388a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    transition: 0.3s;
    .btn-title {
      margin-bottom: 8px;
      font-size: 14px;
      text-transform: uppercase;
    }
    .btn-sub-title {
      font-size: 12px;
    }
  }
  .btn-order:hover {
    background-color: #ffd525;
  }
}
